@import "../variables";

.default {
  display: inline-block;

  cursor: pointer;
  transition: background 0.1s ease-in;
  border-radius: 8px;
  &:hover {
    background: #e0effe;
  }
  &:focus-visible {
    background: $background-blue;
    outline: 2px solid $elements-blue;
  }
}

.selected {
  animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
  0% {
    background: #acc8e5;
  }

  50% {
    background: #57b7f2;
  }

  100% {
    background: #acc8e5;
  }
}
