@use "@/styles/variables";
@use "@/styles/mixins" as *;

.navigateButtons {
  display: flex;
  margin-bottom: 6em;
  justify-content: space-between;
  width: 90%;

  @include desktop {
    width: 40%;
  }
}
