@use "@/styles/variables";

.buttonWrapper {
  .button {
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    padding: 12px 24px;
    border-radius: 100px;
    cursor: pointer;
  }

  .transparent {
    background-color: transparent;
  }

  .light-blue {
    background-color: variables.$secondary-blue;
  }
}
