@use "@/styles/variables";
@use "@/styles/mixins" as *;
.container {
  width: 100%;
  height: 40em;
  display: flex;
  @include desktop {
    height: 55em;
  }
}

.light {
  background-color: white;
}

.blue {
  background-color: variables.$secondary-blue;
}
