@use "@/styles/variables";
@use "@/styles/mixins" as *;

.contentWrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 9em;
  align-items: center;

  .filtersWrapper {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      display: block;
    }
  }

  .emptyPreferences {
    margin: 5em 1em 15em;
    background-color: variables.$background-blue;
    width: 90%;
    height: 10em;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2em;

    @include desktop {
      width: 40%;
    }

    .emptyText {
      color: variables.$dark-text;
      font-weight: 500;
      font-size: 1.2rem;

      .link {
        text-decoration: none;
        color: variables.$dark-text;
        font-weight: bold;
      }
    }
  }

  .articlesWrapper {
    width: 100%;
    padding-top: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;

    .infiniteScroll {
      width: 100%;
    }

    @include desktop-xl {
      width: 80%;
    }
    @include between-desktop {
      width: 80%;
    }
  }
}
