@use "@/styles/variables";
@use "@/styles/mixins" as *;

.wrapper {
  @include desktop {
    display: flex;
    align-items: center;
    margin-right: 3em;
  }

  .container {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    background-color: variables.$main-blue;
    z-index: 100;

    @include desktop {
      display: block !important;
      position: static;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background-color: transparent;
      top: auto;
      left: auto;
    }

    .closeIcon {
      position: absolute;
      top: 30px;
      right: 35px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;

      @include desktop {
        display: none;
      }
    }

    .mainNav {
      width: 100%;
      height: 100%;
      margin: 7em auto;
      display: flex;
      align-items: center;
      flex-direction: column;

      @include desktop {
        flex-direction: row;
        margin: 0;
        align-items: flex-start;
      }

      .navItems {
        list-style: none;
        text-align: center;
        .itemsWrapper {
          display: inherit;
          .item {
            margin: 20px 0;
          }

          @include desktop {
            display: flex;
            align-items: center;
            gap: 2em;
          }
          .desktopMenu {
            @include desktop {
              display: none;
            }
          }
          .desktopMenuItems {
            display: none;
            @include desktop {
              display: block;
            }
          }
        }
      }
    }
  }

  .buttonMenu {
    position: absolute;
    top: 30px;
    right: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    @include desktop {
      display: none;
    }
  }
}
