@use "@/styles/mixins" as *;

.container {
  background: #f7f8fa;
  border-radius: 8px;

  .exportWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .export {
      margin: 2.5em 3em 0 0;
    }
  }

  .wrapper {
    padding: 2.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 90%;
    gap: 25px;

    @include desktop {
      width: 100%;
      padding: 2.5em;
      display: grid;
      grid-template-columns: repeat(3, 300px);
      grid-template-rows: repeat(4, 1fr);
      justify-items: center;
    }

    @include desktop-xl {
      width: 100%;
      padding: 2.5em;
      display: grid;
      grid-template-columns: repeat(4, 300px);
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
    }
    @include between-desktop {
      width: 100%;
      padding: 2.5em;
      display: grid;
      grid-template-columns: repeat(3, 300px);
      grid-template-rows: repeat(4, 1fr);
      justify-items: center;
    }
  }
}

.emptyWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2em;
  .instructionWrapper {
    .headliner {
      padding-top: 1em;
    }
    display: flex;
    flex-direction: column;
  }
  .loaderWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.navigationWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
