.container {
  padding: 10px;
  border-radius: 8px;
  border: 0.6px solid #d9cfcf;
  max-width: 280px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .wordWrapper {
    text-align: center;
    text-transform: lowercase;
    height: 40%;
  }
  .buttonWrapper {
    height: 30%;
    display: flex;
    justify-content: center;
  }
  .actionsWrapper {
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
