//colors
$main-blue: #0359a4;
$secondary-blue: #57b7f2;
$light-blue: #f0f7ff;
$elements-blue: #0597f2;
$dark-text: #00206a;
$elements-secondary-blue: #0583f2;
$footer-blue: #e0effe;
$background-blue: #acc8e5;
$primary-text: rgba(0, 0, 0, 0.87);
